# IDE
.idea
/vendor/

# Composer
/composer.phar
/composer.lock

# Box
/box.phar

# Signing private key
.travis/phar-private.pem
.travis/build-key.pem
.travis/secrets.tar

# dpm.phar
/dpm.phar
/dpm.phar.pubkey
/dpm.phar.version
